cfg
build
*.dsk
*.DSK
game-*
*~
*.bak
*.swp
*.o
*.s
*.link

*.pyc

tools/file2dsk
tools/lwasm
tools/mess64
tools/mess64d
tools/mess
tools/messd
tools/liblw.a
tools/lwar
tools/lwlink

game/objects/*.hex
game/objects/*.lst
game/objects/*.bin
game/objects/*.i
game/objects/*.tmp
game/objects/*.cmd

game/levels/*.hex
game/levels/*.lst
game/levels/*.bin
game/levels/*.i
game/levels/*.tmp
game/levels/*.cmd
game/levels/01-testlevel.asm
.DS_Store

game/levels/01-persei.asm
game/objects/03-badguys.asm
game/objects/04-ship.asm
game/objects/05-missile.asm
game/objects/06-game-over.asm
assets/00-mainmenu.png
assets/01-moon.gif
assets/palette.gif


