cfg
build
*.dsk
*.DSK
game-*
scripts/compression.pyc
tools/file2dsk
tools/lwasm
tools/mess64
tools/mess64d
tools/mess
tools/messd
tools/liblw.a
tools/lwar
tools/lwlink
game/objects/*.hex
game/objects/*.lst
game/objects/*.bin
game/objects/*.i
game/objects/*.tmp
game/objects/*.cmd
*.bak
game/objects/03-foo.asm
