<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Space Bandits GitHub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Space Bandits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52E7604D21D7F5410001F3A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F1208321D7DD63008A7900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F120A021D7DD65008A7900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F120AB21D7DD65008A7900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
